<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>suse校园论坛</title>

    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!--<script src="https://unpkg.com/vue@3"></script>-->
    <!--<script src="https://unpkg.com/vue-router@3.0.0"></script>-->
    <!--axios开发环境-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <!--导入package,login.js-->
    <script src="../js/package.js"></script>
    <!--使用页面js-->
    <!-- Bootstrap -->
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/header.css" rel="stylesheet">
    <link href="../css/content-area.css" rel="stylesheet">
    <link href="../css/forum.css" rel="stylesheet">
    <link href="../css/sidebar.css" rel="stylesheet">
    <link href="../css/footer.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/font-awesome.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/header.css" rel="stylesheet">
    <link href="../css/content-area.css" rel="stylesheet">
    <link href="../css/sidebar.css" rel="stylesheet">
    <link href="../css/footer.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../static/12-1/node_modules/jquery/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../static/12-1/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <!-- js -->
    <script src="../../static/12-1/js/common.js"></script>
</head>
<body>
<div id="loginDiv"></div>
<div id="app">
    <div class="header">
        <div class="second-nav bg-white">
            <div class="container">
                <div class="logo pull-left">
                    <a href="index.html"> <img src="../picture/qiku_community_logo.png" alt=""></a>
                </div>
                <ul class="menu pull-left">
                    <li class="active"><a href="index.html">首页</a></li>
                    <li><a href="forum.html">论坛</a></li>
                    <li><a href="group.html">校园</a></li>

                </ul>


                <div class="login-reg pull-right">
                    <a href="login.html" target="_blank" v-show="user.userStatus==null">登录</a>
                    <a href="register.html" target="_blank" v-if="user.userStatus === null">注册</a>
                    <a href="" v-else>{{ user.userAccountId }}</a>
                    <a href="personal.html" target="_blank">个人</a>
                </div>
                <div class="search-form pull-right">
                    <div class="input-group">
                        <input type="text" class="form-control" name="name" value="" placeholder="帖子"
                               v-model="userSearch" @keyup="whenKeyUp">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" @click="get_data">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  -->
    <div class="container main">

        <!-- 左侧内容区 -->
        <div class="content-area bg-white">
            <div class="mn xm_mn">
                <div class="xm_index_info">
                    <div class="xm_index_info_dec">
                        今日发布数量<span class="pipe">|</span>
                        昨日发布数量<span class="pipe">|</span>
                        帖子总共帖子数量<span class="pipe">|</span>
                        欢迎<a href="#" target="_blank" class="xi2" style="padding-left: 4px;">用户ID</a>
                    </div>
                </div>
                <div id="threadlist" class="tl">
                    <div class="cl">
                        <table summary="forum_0" cellspacing="0" cellpadding="0" id="threadlisttableid">
                            <tbody id="stickthread_14646386">
                            <tr>
                                <th class="common">
                                    <ul>
                                        <li v-for="(item, index) in records">
                                            <div class="avatarbox">
                                                <a  c="1" class="avatar" mid="card_2378"><img src="../picture/5768b8f0967e91f1.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="tl_ct">
                                               <a href="" target="_self" class="s xst" @click="topicDetails(item.topicId)">{{
                                                        item.topicTitle
                                                    }}</a>
                                                <br>
                                                {{ item.topicContent }}
                                                <div class="info">
                                                    <a  class="y replies" >评论数量：{{ item.topicReplyCount }}</a>
                                                    <a  class="y viewnum">浏览数量:{{ item.topicClickCount }}</a>
                                                    <span>
                                            <a href="#" c="1" mid="card_2378" target="_self">用户ID：{{ item.userId }}</a>
                                        </span>
                                                    <span>| <span>最新更新时间：{{ item.updateTime }}</span> | <a
                                                            href="#" target="_self"
                                                            class="xg1"></a></span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <hr width="100%" >
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="bm bw0 pgs cl">
                    <span class="pgb">
                        <a v-show="nowPage !== 1" @click="search_next()">上一页</a></span>
                    <span id="fd_page_bottom">
<!--------------------------------------------------------------->
                        <div class="pg">
                            <label>
                                <button class="px" @click="goto_page">跳转</button>
                                <input type="text" class="px" size="2" value="1" v-model="nowPage">
                            <span title="共 47 页">/{{ total }}</span>
                        </label>
                            <a class="nxt" v-show="nowPage !== total" @click="search_previous">下一页</a>
                        </div>
                        <!--------------------------------------------------------------->
                    </span>
                </div>

            </div>

        </div>
        <div class="sidebar bg-white">
            <div class="block">
                <a href="fatie.html" class="new-thread bg-green">发帖</a>
                <div class="signup-total bg-green">
                    星期日<br/>
                    <span class="num-date">11.6</span><br/>
                    已签到56人
                </div>
                <div class="signup-lucky">
                    <a href="#" class="signup border-green">签到</a>
                    <a href="#" class="lucky border-green">抽奖</a>
                </div>
            </div>
        </div>
    </div>

    <button type="button" id="backTop" class="btn btn-default">
        <i class="fa fa-arrow-up"></i>
    </button>
</div>
</body>

<script>
    /**
     * 1.使用js文件存储用户搜索关键字
     * 2.使用js文件存储请求结果
     * 3.只有dataList放在forum.js
     */
    new Vue({
        el: "#app",
        data: {
            urlBase:'http://172.23.161.242:8080/',
            headLine: "headLine",
            postedBy: "帖子所属用户",
            replyTime: "最新回复时间",
            IPLocation: "IP：四川",
            readNum: 666,
            commentNum: 123,
            nowPage: 1,
            total: 47,
            userSearch: null,
            records: [

            ],
            user: {
                id: null,
                userAccountId:"hjkgbhjbj",
                username: 666,
                password: null,
                userEmail: null,
                userSex: null,
                userClass: null,
                userStatement: null,
                userStatus:null
            }

        },
         mounted() {


             let _this = this
             axios({
                 method: 'get',
                 url: "http://172.23.161.242:8080/user/get",
             }).then(res => {
                 console.log(res);
                 _this.user = res.data.data
                 console.log("获取到用户信息{}",_this.user)
             }, err => {
                 console.log(err);
             });


            /*console.log(app.user)
            console.log(app.user.userStatus)

            !//1.判断登录状态,异常则退回登录界面
            if (user.userStatus !== 1) {
                this.$message.error("请登录！");
                setTimeout(function () {
                    window.location.href = "login.html";
                }, 1000)
            }


            console.log(app.user.userStatement);
            //2.从login.js中拿到user
            //console.log("get user = ",this.user)
            this.userSearch = app.user.userSearch;*/

            //3.发送请求获取实际最大页数并存入本地
             /*let res =   get(this.urlBase + "topic/listAll", 1, 20, null);
            console.log("res = ",res)
            if (res.data.code !== 1) {
                this.$message.error("错误！");
                return;
            }
            this.total = res.data.total;

            //4.请求第一页并初始化
            res =  get(this.urlBase + "topic/listAll", 1, 20, null);
            if (res.data.code !== 1) {
                this.$message.error("错误！");
                return;
            }
            this.records = res.data.records;*/
             this.$nextTick(function ()
             {
                 this.get_data()
             })
             //console.log("mounted:",this.records)

        },
        methods: {

            topicDetails(id){
                console.log("id = ",id)
                console.log("called this func")
                console.log("页面跳转")
                window.open('thread.html'+'?'+id,id)
                /*push({
                    path:'thread.html',
                    query:{id:id}
                })*/
            },

            async get_data(){

                //3.发送请求获取实际最大页数并存入本地
                let res = await  get(this.urlBase + "topic/listAll", this.nowPage, this.total, this.userSearch);
                console.log("res = ",res)
                if (res.data.code !== 1) {
                    this.$message.error("错误！");
                    return;
                }
                this.records = res.data.data.records;
                this.total = res.data.data.total
                console.log(this.records)
            },

            to_search: function (res) {
                if (res.data.code === 1) {
                    this.records = res.data.data.records;
                    return true;
                }
                this.$message.error("查找失败！");
                return false;
            },
            /**
             * 查找下一页
             * @returns {Promise<void>}
             */
            search_next: async function () {
                let res = await get(this.urlBase + "topic/listAll", this.nowPage + 1, 20, this.userSearch)
                if (this.to_search(res)) this.nowPage++;
            },
            /**
             * 查找上一页
             * @returns {Promise<void>}
             */
            search_previous: async function () {
                let res = await get(this.urlBase + "topic/listAll", this.nowPage - 1, 20, this.userSearch)
                if (this.to_search(res)) this.nowPage--;
            },
            /**
             * 查找任意页
             */
            goto_page: function () {
                if (this.total > this.nowPage || this.nowPage < 1) {
                    this.$message.error("页码错误！");
                    return;
                }
                let res = get(this.urlBase + "topic/listAll", this.nowPage, 20, this.userSearch);
                if (this.to_search(res)) {
                }
            },
            /**
             * 本地userSearch更新时更新login.js的userSearch
             */
            whenKeyUp: function () {
                app.userSearch = this.userSearch;
            }
        }
    })

    /**进入页面后操作
     * 1.根据登录状态选择登录，注册按钮的显示，以及展示登录用户ID
     * 2.中心横条处更新帖子总数量以及用户ID
     * 3.根据用户给出关键字发请求
     * 4.展示所有请求到的帖子
     */
    function rand(n, m) {
        let result = Math.random() * (m + 1 - n) + n;
        while (result > m) {
            result = Math.random() * (m + 1 - n) + n;
        }
        return result;
    }

</script>
</html>
