<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>suse校园论坛</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <link href="../css/font-awesome.css" rel="stylesheet">

    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/header.css" rel="stylesheet">
    <link href="../css/content-area.css" rel="stylesheet">
    <link href="../css/sidebar.css" rel="stylesheet">
    <link href="../css/footer.css" rel="stylesheet">
    <!--文档加载完毕，开始执行-->
    <script src="../js/package.js"></script>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--axios开发环境-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<script src="../js/jquery/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../js/bootstrap.js"></script>
<!-- js -->
<script src="../js/common.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<link href="../css/slider.css" rel="stylesheet">
<script src="../js/slider.js"></script>
<div id="app1">
    <div class="top-nav">
    </div>
    <div class="second-nav bg-white">
        <div class="container">
            <div class="logo pull-left">
                <a href="../../static/index.html"> <img src="../picture/qiku_community_logo.png" alt=""></a>
            </div>
            <ul class="menu pull-left">
                <li class="active"><a href="../../static/index.html">首页</a></li>
                <li><a href="forum.html">论坛</a></li>
                <li><a href="group.html">校园</a></li>

            </ul>


            <div class="login-reg pull-right">
                <a href="login.html" target="_blank" v-show="user.userStatus==null">登录</a>
                <a href="register.html" target="_blank" v-if="user.userStatus === null">注册</a>
                <a href="" v-else>{{ user.userAccountId }}</a>
                <a href="personal.html" target="_blank">个人</a>
            </div>
            <div class="search-form pull-right">
                <div class="input-group">
                    <input type="text" class="form-control" name="name" value="" placeholder="帖子/用户">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <!--  -->
        <div class="container main">

            <!-- 左侧内容区 -->
            <div class="content-area bg-white">

                <div>
                    <table width="921" height="612" border="0" class="zilia">
                        <tr align="left" valign="top">
                            <td height="65" colspan="4"><h3 class="ziliao"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;基本资料</h3>
                            </td>
                        </tr>
                        <tr>
                            <td width="33" align="left" valign="top">&nbsp;</td>
                            <td width="72" align="left" valign="middle"><strong>用户账号</strong></td>
                            <!--下两个td放置用户账号-->
                            <td width="710" v-text="user.username">&nbsp;</td>
                            <td width="81">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="left" valign="top">&nbsp;</td>
                            <td align="left" valign="middle"><strong>昵称</strong></td>
                            <td>
                                <form action="" method="post" name="form1">
                                    <label for="textfield"></label>
                                    <input name="textfield" type="text" id="textfield" size="50" v-model="user.userAccountId">
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top">&nbsp;</td>
                            <td align="left" valign="middle"><strong>性别</strong></td>
                            <td>
                                <form name="form2" method="post" action="">
                                    <label for="select"></label>
                                    <select name="select" size="1" id="select" index="gender" >
                                        <!--                                        男1女0，很好理解-->
                                        <option value="1">男</option>
                                        <option value="0">女</option>
                                    </select>
                                </form>
                            </td>
                        </tr>

                        <!--   <tr>
                             <td align="left" valign="top">&nbsp;</td>
                             <td valign="middle"><strong>生日</strong></td>
                             <td><form name="form4" method="post" action="">
                               <select name="select2" size="1" id="select2">
                                 <option>年</option>
                               </select>
                               <label for="select3"></label>
                               <select name="select3" id="select3">
                                 <option>月</option>
                               </select>
                               <label for="select4"></label>
                               <select name="select4" id="select4">
                                 <option>日</option>
                               </select>
                             </form></td>
                             <td><form name="form9" method="post" action="">
                               <label for="select5"></label>
                               <select name="select8" id="select5">
                                 <option>保密</option>
                                 <option>公开</option>
                               </select>
                             </form></td>
                             </tr>-->

                        <td align="left" valign="top">&nbsp;</td>
                        <td align="left" valign="middle"><strong>邮箱</strong></td>
                        <td>
                            <form name="form7" method="post" action="">
                                <label for="textfield5"></label>
                                <input name="textfield5" type="text" id="textfield5" size="50" v-model="user.userEmail">
                            </form>
                        </td>

                        </tr>
                        <tr>
                            <td align="left" valign="top">&nbsp;</td>
                            <td align="left" valign="middle"><strong>个性签名</strong></td>
                            <td>
                                <form name="form8" method="post" action="">
                                    <label for="textarea"></label>
                                    <textarea name="textarea" cols="100" id="textarea"
                                              v-model="user.userStatement"></textarea>
                                </form>
                            </td>

                            <td width="3" height="90">
                        </tr>
                        <tr>
                            <td colspan="3" align="center" valign="middle">
                                <form name="form10" method="post" action="">
                                    <input type="button" name="button" id="button" value="保存" @click="update_user">
                                </form>
                            </td>
                            <td align="left" valign="top">&nbsp;</td>
                            <td height="49">
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!-- footer --><!-- other -->
        <button type="button" id="backTop" class="btn btn-default">
            <i class="fa fa-arrow-up"></i>
        </button>
    </div>
</div>
</body>
<script>
    new Vue({
        el:"#app1",
        data:{
            urlBase:"http://localhost:8080/",
            user: {
                id: null,
                userAccountId:"hjkgbhjbj",
                username: 666,
                password: null,
                userEmail: null,
                userSex: null,
                userClass: null,
                userStatement: null,
                userStatus:null
            }
        },
        mounted(){
            let _this = this
            axios({
                      method: 'get',
                      url: "http://localhost:8080/user/get",
                  }).then(res => {
                console.log(res);
                _this.user = res.data.data
                console.log("获取到用户信息{}",_this.user)
            }, err => {
                console.log(err);
            });
        },
        methods:{
            async update_user(){
                let res
                  res = await put(this.urlBase+'user/update',this)
                console.log("get retval",res.data)
                window.location.href='index.html'
            }
        }

    })
</script>
</html>
