<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="gb2312">
    <title>查找结果</title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/font-awesome.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/header.css" rel="stylesheet">
    <link href="../css/content-area.css" rel="stylesheet">
    <link href="../css/sidebar.css" rel="stylesheet">
    <link href="../css/footer.css" rel="stylesheet">
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--axios开发环境-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../js/package.js"></script>
</head>
<body>
<div id="loginDiv"></div>
<div id="app">
    <!--搜索框-->
    <div class="input-group">
        <input type="text" class="form-control" name="name" value="" placeholder="帖子/用户" v-model="userSearch">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default" @click="click_search">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    <!--搜索结果展示-->
    <div class="content-area bg-white">
        <!-- 新闻 news -->

        <ul style="list-style-type: decimal">
            <!--item, index分别是内容和索引-->
            <li v-for="(item, index) in dataList">
                <!--    :href指向目标,v-text显示关键字    -->
                <a :href="item.href" v-text="item.title"></a>
            </li>
        </ul>
        <br>
        <span>条目共</span>
        <span>{{ totalPage }}</span>
        <span>页</span>
        <button @click="goto_page()">跳转</button>
        <span>至第</span>
        <input type="text" size="3" v-model="gotoPage">
        <span>页</span>
        <br>
        <button v-if="nowPage !== 1" @click="search_previous()">上一页</button>
        <button v-if="nowPage !== totalPage" @click="search_next()">下一页</button>
    </div>
</div>
</body>
<script type="text/javascript" charset="gb2312">


    new Vue({
        el: "#app",
        data: {
            userSearch: null,//搜索输入框输入值
            searchedShow: null,//返回值结果
            nowPage: 1,
            totalPage: 3,
            hasNext: null,
            gotoPage: 1,
            dataList: [
                {href: "https:www.baidu.com", title: "百度"},
            ],
        },
        methods: {
            mounted() {

                /**
                 *  DOM加载完成
                 *  截取用户搜索内容
                 */
                console.log(window.location.href)
                let url = decodeURI(window.location.href);
                console.log(url)
                let searchData = url.slice("?").split("=")[1];
                app.userSearch = searchData;
                console.log(searchData)
                /**
                 * 获取所有数据条目
                 */
                let res = get(this.urlBase + "user/search", 65536, 30, this.userSearch);
                this.to_search(res);
            },
            to_search: function (res) {
                if (res.data.code === 1) {
                    app.dataList = res.data.dataList;
                    app.totalPage = res.data.totalPage;
                    return true;
                } else {
                    this.$message.error("查找失败！");
                    return false;
                }
            },
            click_search: function () {
                //打开searchedShow页面并传入参数
                this.nowPage = 1;
                window.open("searchedShow.html" + "?content=" + this.userSearch);
            },
            /**
             * 查找下一页
             * @returns {Promise<void>}
             */
            search_next: async function () {
                let res = await get(this.urlBase + "user/search", this.nowPage + 1, 20, this.userSearch)
                if (this.to_search(res)) this.nowPage++;
            },
            /**
             * 查找上一页
             * @returns {Promise<void>}
             */
            search_previous: async function () {
                let res = await get(this.urlBase + "user/search", this.nowPage - 1, 20, this.userSearch)
                if (this.to_search(res)) this.nowPage--;
            },
            /**
             * 查找任意页
             */
            goto_page: function () {
                if (this.gotoPage > this.nowPage || ths.gotoPage < 1) {
                    this.$messge.error("页码错误！");
                    return;
                }
                let res = get(this.urlBase + "user/search", this.gotoPage, 20, this.userSearch);
                if (this.to_search(res)) this.nowPage = this.gotoPage;
            }
        }
    });


</script>
</html>