<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>suse校园社区</title>

    <!-- Bootstrap -->
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--axios开发环境-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Bootstrap -->
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/header.css" rel="stylesheet">
    <link href="../css/content-area.css" rel="stylesheet">
    <link href="../css/forum.css" rel="stylesheet">
    <link href="../css/sidebar.css" rel="stylesheet">
    <link href="../css/footer.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/header.css" rel="stylesheet">
    <link href="../css/content-area.css" rel="stylesheet">
    <link href="../css/sidebar.css" rel="stylesheet">
    <link href="../css/footer.css" rel="stylesheet">
    <!--    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">-->

    <!--    <link href="../node_modules/font-awesome/css/font-awesome.css" rel="stylesheet">-->
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/header.css" rel="stylesheet">
    <link href="../css/content-area.css" rel="stylesheet">
    <link href="../css/thread.css" rel="stylesheet">
    <link href="../css/sidebar.css" rel="stylesheet">
    <link href="../css/footer.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="header">
    <div class="second-nav bg-white">
        <div class="container">
            <div class="logo pull-left">
                <a href="index.html"> <img src="../picture/qiku_community_logo.png" alt=""></a>
            </div>
            <ul class="menu pull-left">
                <li class="active"><a href="index.html">首页</a></li>
                <li><a href="forum.html">论坛</a></li>
                <li><a href="group.html">校园</a></li>

            </ul>


            <div class="login-reg pull-right">
                <a href="login.html" target="_blank" v-show="user.userStatus==null">登录</a>
                <a href="register.html" target="_blank" v-if="user.userStatus === null">注册</a>
                <a href="" v-else>{{ user.userAccountId }}</a>
                <a href="personal.html" target="_blank">个人</a>
            </div>
            <div class="search-form pull-right">
                <div class="input-group">
                    <input type="text" class="form-control" name="name" value="" placeholder="帖子/用户">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  -->
<div class="container main" id="app">

    <!-- 左侧内容区 -->
    <div class="content-area bg-white">
        <div class="mn xm_mn">

            <div id="pt-detail" class="bm cl">
                <div class="viewthread-bread">
                    <a href="#">版块</a>
                    <em>›</em> <a href="#">同城</a> <em>›</em><a href="#">板块名</a></div>
            </div>


            <div class="xm_tp">
                <div class="xm_p_tp">

                    <!--id="tath"-->
                    <a href="http://#.cn/space-uid-30006763.html" title="天谴执行官" class="xm_avt">

                    </a>

                    <h1>
                        {{ host.topicTitle }}
                    </h1>

                    <div class="xm_tp_action">

                        <span>{{host.createTime}}}</span>


                        <div class="y">
                            <div class="xm_tp_action">
                                <span class="y replies-uncursor">{{host.topicClickCount}}</span>
                                <span class="y viewnum-uncursor">{{host.topicClickCount+host.topicReplyCount}}</span>
                            </div>
                        </div>

                    </div>


                </div>

            </div>


            <div id="postlist" class="pl">


                <div id="post_102757647">


                    <table id="pid102757647" class="plhin post_lz" summary="pid102757647" cellspacing="0"
                           cellpadding="0">
                        <tbody>
                        <tr>
                            <td class="plc">
                                <div class="pct">
                                    <!--                                    <style type="text/css">.pcb {-->
                                    <!--                                        margin-right: 0-->
                                    <!--                                    }</style>-->
                                    <div class="pcb">

                                        <div class="pcbs">
                                            <div class="act pbm cl">
                                                <img src="" alt="" title="镇楼图">
                                                {{host.topicContent}}
                                            </div>
                                        </div>

                                        <div class="article-functions">
                                            <!--<div class="zan">
                                                <a class="zancontent" id="recommend_add"
                                                   href="http://#.cn/forum.php?mod=misc&amp;action=recommend&amp;do=add&amp;tid=14646386&amp;hash=c4d1a738"
                                                   onclick="javascript:this.href='https://passport.qiku.com/?appid=1010000675&amp;callback=http%3a%2f%2f#.cn%2flogin_sso_web.php';"
                                                   target="_blank">
                                                    <img alt="" src="http://b1.qikucdn.com/dfsj_imgs/zan_before.png"
                                                         class="zan-image zan-image-top">


                                                    <span class="zannums" id="recommendv_add">5</span>
                                                </a>


                                            </div>-->

                                            <div class="viewthread-fivefunctions">
                                                <!--不能点-->
                                                <a @click="reply()">回复楼主</a>
                                            </div>

                                        </div>

                                    </div>
                                    <div id="comment_102757647" class="">
                                    </div>

                                    <div id="post_rate_div_102757647"></div>
                                </div>
                        <tr id="_postposition102757647"></tr>
                        <tr>
                            <td class="plc" style="overflow:visible;">
                                <div class="po hin">
                                </div>
                            </td>
                        </tr>
                        <tr class="ad">
                            <td class="plc">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="comments-static">
                        <p class="comments-p" id="comment">评论</p>
                        <textarea id="txa" style="display: none" name="" cols="50" rows="5"></textarea>
                        <br>
                        <button id="btn" style="display: none">提交</button>
                        <p class="comments-floor">
                            <span id="fj">
              </span>
                        </p>
                    </div>
                </div>
                <div id="post_102771656" v-for="(item, index) in reply">
                    <table id="pid102771656" class="plhin" summary="pid102771656" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <td class="pls" rowspan="2">
                                <div id="favatar102771656" class="pls favatar">
                                    <div class="avatar">
                                        <!--用户头像-->
                                        <img src="http://ucenter.#.cn/avatar.php?uid=30425433&amp;size=middle">
                                    </div>
                                </div>
                            </td>

                            <td class="plc">
                                <div class="pi floornum">
                                    <strong class="y">
                                        <a>第{{ index + 1 }}楼</a>
                                    </strong>
                                    <div class="pti">
                                        <div class="pdbt">
                                        </div>

                                        <div class="authi">
                                      <span class="author"><a href="http://#.cn/space-uid-30425433.html"
                                                              target="_blank">{{ item.replyId }}</a>
   </span>
                                            <em id="authorposton102771656">{{ item.createTime }}</em>
                                            <span class="pipe">|</span>

                                            <span class="pipe">|</span>
                                            <a>举报</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pct">
                                    <div class="pcb">
                                        <div class="pcbs">
                                            <table cellspacing="0" cellpadding="0">
                                                <tbody>
                                                <tr>
                                                    <td class="t_f postmessage-top" id="postmessage_102771656">
                                                        {{ item.replyContents }}
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div id="comment_102771656" class="">
                                        </div>

                                        <div id="post_rate_div_102771656"></div>
                                    </div>
                                </div>


                            </td>
                        </tr>
                        <tr id="_postposition102771656"></tr>
                        <tr style="height:36px;">
                            <td>
                            </td>
                            <td class="plc" style="overflow:visible;">


                                <div class="po hin">
                                    <span class="y" style="margin-right: 15px;">
                                        <a @click="reply_user(item.replyId)">回复</a>
                                    </span>
                                    <div class="pob cl">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="ad">
                            <td class="pls">
                            </td>
                            <td class="plc">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="postlistreply" class="pl">
                    <div id="post_new" class="viewthread_table" style="display: none"></div>
                </div>
            </div>


            <form method="post" autocomplete="off" name="modactions" id="modactions">
                <input type="hidden" name="formhash" value="c4d1a738">
                <input type="hidden" name="optgroup">
                <input type="hidden" name="operation">
                <input type="hidden" name="listextra" value="">
                <input type="hidden" name="page" value="1">
            </form>


            <div class="pgs cl">
                <span class="pgb" onclick="window.history.back()">返回列表</span></div>


            <!--[diy=diyfastposttop]-->
            <div id="diyfastposttop" class="area"></div><!--[/diy]-->


        </div>
    </div>
    <!-- 右侧边栏 -->
    <div class="sidebar bg-white">
        <div class="block"><a href="#" class="new-thread bg-green">发帖</a>
            <div class="signup-total bg-green"> 星期日<br/>
                <span class="num-date">11.6</span><br/>
                已签到56人
            </div>
            <div class="signup-lucky"><a href="#" class="signup border-green">签到</a> <a href="#"
                                                                                          class="lucky border-green">抽奖</a>
            </div>
        </div>
        <!-- 版块推荐 -->
        <div class="plays box">
            <h4><strong>版块推荐</strong></h4>
            <ul>
                <li class="playlist"><a href="forum-7076-1.html" target="_blank" title="360手机N4S"><img
                        src="../picture/t01b3ea84a97551c661.png" width="24" height="24" alt="360手机N4S">计算机</a></li>
                <li class="playlist"><a href="forum-5146-1.html" target="_blank" title="手机摄影"><img
                        src="../picture/t01e9739182cfdbb42b.png" width="24" height="24" alt="手机摄影"></a>摄影
                </li>
                <li class="playlist"><a href="forum-7088-1.html" target="_blank" title="360手机Q5"><img
                        src="../picture/t0175b5d9c7d8bfd7aa.png" width="24" height="24" alt="360手机Q5">寻物启事</a>
                </li>
                <li class="playlist"><a href="forum-7081-1.html" target="_blank" title="360儿童机器人"><img
                        src="../picture/t01bd408be3fdc7f74d.png" width="24" height="24" alt="360儿童机器人">机械设计</a>
                </li>
                <li class="playlist"><a href="forum-7005-1.html" target="_blank" title="360儿童卫士"><img
                        src="../picture/t011cfce70442278c24.png" width="24" height="24" alt="360儿童卫士">社团活动</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- footer --><!-- other -->
<button type="button" id="backTop" class="btn btn-default">
    <i class="fa fa-arrow-up"></i>
</button>
<div id="loginDiv"></div>
</body>
<!--<script type="text/javascript">document.onkeyup = function (e) {
    keyPageScroll(e, 0, 0, 'forum.php?mod=viewthread&tid=14646386', 1);
}</script>-->
<script src="../js/package.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            host:
                {
                    createTime: "2022-11-01 16:16:27",
                    replys: [{
                        createTime:null,
                        replyClickCount:0,
                        replyContents:"dfgfdsgfsdbgdfsgdf",
                        replyEmotion:null,
                        replyId:"3133",
                        topicId:"1",
                        updateTime:null,
                        userId:"1586600449878847489"
                    }],
                    sectionId: "1",
                    topicClickCount:1,
                    topicContent: "fuck you",
                    topicEmotion: null,
                    topicId: "1",
                    topicReplyCount: 1,
                    topicTitle: "纯路人",
                    updateTime: "2022-11-01 16:16:27",
                    userId: "1586600449878847489",
                },
            reply: [
                {
                    createTime: "2022/11/11",
                    replyClickCount: 0,
                    replyContents: "123",
                    replyEmotion: null,
                    replyId: "31",
                    topicId: "2",
                    updateTime: null,
                    userId: "1586600489"
                },
            ],
            user: {
                id: null,
                userAccountId:"hjkgbhjbj",
                username: 666,
                password: null,
                userEmail: null,
                userSex: null,
                userClass: null,
                userStatement: null,
                userStatus:null
            }
        },
        mounted() {
            /**
             * id为纯数字，可以采用url的方式放入topicID
             */
            let _this = this
            axios({
                method: 'get',
                url: "http://localhost:8080/user/get",
            }).then(res => {
                console.log(res);
                _this.user = res.data.data
                console.log("获取到用户信息{}",_this.user)
            }, err => {
                console.log(err);
            });
            this.get_data()
                //1.解析topicID
        },
        methods:{
            async get_data(){
                let id = window.location.href.split("?")[1];
                let res = await getTopicById("http://localhost:8080/topic/detail?id=" + id)
                console.log("res = ",res)
                this.host = res.data.data
                this.reply = this.host.replys
                console.log("replys = ",this.reply)
            },
             reply_user(id){
                window.open('fatie.html?'+2+'&'+this.host.topicId+'&'+id)
            }
        }
    })
    let loop = 0;
    let area = document.querySelector("#txa");
    let btn = document.querySelector("#btn");
    document.querySelector("#comment").addEventListener("click", function () {
        if(loop%2 === 0){
            area.style.display = "block";
            btn.style.display = "block";
        }else{
            area.style.display = "none";
            btn.style.display = "none";
        }
        loop++;
    })
</script>
</html>
